/* This is the syntax for a CSS comment. */

/* Typically you put all of your general element styles at the top. */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Caslon, alexandria, serif;
    font-size: 16px;
    line-height: 24px;
	background-color: #C7CACF;
    border: 10px solid #4DF0FF;
    border-top: 0; 
    
    
}


header {
    background-color: #4DF0FF;
    color: #ffffff;
    height: 60px;
   
    
   
}

header h1 {
 float: left;
   font-family: myriad, arial, sans-serif;
    font-size: 24px;
    font-weight: 800;
    padding: 18px;
    color: #000000;
    
}

nav {
  float: left;
    padding: 18px;
    font-weight: 600;
    
}

nav a {

}

header a { 
    color: #000000;
    margin-right: 16px;
    text-decoration: none;
    padding: 0 0 0 10px;

}

header a:hover {
    color: #C7CACF;
}



h2 {
  padding: 16px 0 16px 16px;
  color: #000000;  
font-family: myriad, arial, sans-serif;
    font-size: 36px;
    

}

h3 {
    font-size: 20px;
    padding: 5px 0 0 24px;
    text-decoration: underline;
    font-family: Caslon, alexandria, serif;
}

h6 { 
    float:right;
    padding: 5px 180px 0 0;
    font-size: 16px;
    font-family: Caslon, alexandria, serif;
    
} 

h4 { 
    padding: 2px 0 0 32px;
    font-size: 16px;
    font-family: Caslon, alexandria, serif;
}

h5 { 
    font-size: 14px;
    padding:2px 0 0 32px;
    line-height: 16px;
    font-family: Caslon, alexandria, serif;
    font-style:italic;
}

ul {
    padding: 3px 0 3px 40px;  
    font-family: myriad, arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
}

p {
    padding: 0 16px 0 16px;
    margin-bottom: 1rem;
    line-height: 24px;
}



article {
 clear: both;   
padding: 0 10px 0 10px;

}

article h2 {
    color: #000000;
    font-size:36px;
    line-height: 44px;
    padding: 16px 0 8px 16px;
    
}

article h3 {
    color: #000000;
    font-size: 24px;
    line-height: 44px;
    padding: 16px 0 8px 16px;
    
    
}
.center {
     padding: 0 0 0 230px;
}
section {
   
}

img {
    float:right; 
    border: 3px solid #000000;
    margin: 10px;
    width: 35%;

}

.left img {
    float: left;
}

aside {
    margin-top: 32px;
    width: 65%;
    

}

footer {
    padding: 10px 10px 0 10px;
    clear:both;
    
}

footer a {
    clear: both;
    text-align: center;
    padding: 0px 60px 0 80px;

        
}

/* Class and ID styles come last because they are the most specific. */

